<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <form action="/order" method="post" th:object="${orderForm}">
        <div>
            <h2>주문자 정보</h2>
            이름: <input type="text" th:field="*{name}"> <br>
            휴대폰 번호: <input type="text" th:field="*{phoneNumber}"> <br>
            <input type="hidden" th:field="*{memberId}">
        </div>
        <div>
            <h2>상품 정보</h2>
            <input type="text" th:field="*{title}"> <br>
            <input type="hidden" th:field="*{lessonId}">
        </div>
        <div>
            <h2>결제 방식</h2>
            <div th:each="payMethod : ${payMethod}" >
                <input type="radio" th:value="${payMethod.name()}" th:field="*{payMethod}">
                <label th:for="${#ids.prev('payMethod')}" th:text="${payMethod.description}"></label>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">결제하기</button>
    </form>

</section>
</body>
</html>

