<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>myPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<section>
   <h2 th:text="|안녕하세요! ${myPageForm.memberName}님|">안녕하세요 회원님!!</h2>
    <div>프로필 수정하기</div>

    <div class="h3"><h3>주문 내역</h3></div>
    <div class="orderList-main" th:each="myPageForm : ${myPageFormList}">
        <div>
            <div>
                <img th:src="${myPageForm.imageName}" alt="첨부이미지" th:if="${myPageForm.imageName != null}"  width="250" height="200"/></a>
            </div>
            <div th:text="${myPageForm.title}">주문강의 이름</div>
            <div th:text="${myPageForm.price}+'원'">주문강의 가격</div>
        </div>
    </div>

    <div class="h3"><h3>포인트 내역</h3></div>


</section>
</body>
</html>

