<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>PostDetail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <div th:text="${post.nickName}">게시자 닉네임</div>
    <div th:text="${post.boardName}" class="board-name">게시판명</div>
    <div th:text="${post.title}" class="post-title">게시물 제목</div>

    <div class="post-content">
        <pre><span th:text="${post.content}">내용</span></pre>
    </div>

</section>
</body>
<script>

</script>
</html>

