<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>boardMain</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <div th:each="board: ${boardList}">
        <a href="/"><div th:text="${board.name}"></div></a>
    </div><br>

    <a href="/post/addPost">
    <button type="submit">게시글 등록하기</button>
    </a>

    <div th:each="post: ${postList}" class="post-main">
        <p>____________________________________________________________________________________________</p>
        <div th:text="${post.boardName}" class="board-name">게시판 이름</div>
        <a th:href="@{/post/detail/{param1}(param1=${post.postId})}">
            <div th:text="${post.title}" class="post-title">게시물 제목</div>
        </a>
            <div th:if="${post.nickName ==null}" th:text="${post.name}">게시자 이름</div>
            <div th:if="${post.nickName !=null}" th:text="${post.nickName}">게시자 닉네임</div>

        </div>
</section>
</body>
</html>

