<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>teacher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <table width="600" height="150">
        <thead>
            <th>강사 아이디</th>
            <th>강사 이름</th>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teacherList}">
            <td th:text="${teacher.teacherId}"></td>
            <td th:text="${teacher.name}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/teacher/remove/{param1}(param1=${teacher.teacherId})}"><input type="button" value="삭제"></a></td>
        </tr>
        </tbody>
    </table>
    <div th:text="${errorMessage}" th:class="field-error"></div>

</section>
</body>
</html>

