
.container {
     text-align:center;
}

footer li {
     list-style: none;
}

.left li {
     display: inline;
}

.table-main td {
    text-align: center;

}

.field-error {
            color: #dc3545;
            border-color:#dc3545;
        }
