@font-face {
        font-family: "nanum1";
        src: url("../fonts/Nanum1.ttf");
        font-style:normal;
        font-weight:normal;
        }

.container-fixed {
    margin:0;
    margin-top:40px;
    background-color: #F5F5DC;
    font-family: "nanum1";
    font-size:25px;
}


.title{
   margin-left:50px;
}

li {
     list-style: none;
}

section {
    margin-bottom: 100px;
}


a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

.title a {
    color: #336600;
    font-size:40px;
}


.table-main td {
    text-align: center;

}

.field-error {
            color: #dc3545;
            border-color:#dc3545;
        }

.header-main {
    margin-top:20px;
    margin-bottom: 100px;
    margin-right:100px;
    text-align :right;

}

.header-main li{
    display: inline;
}

.title {
    margin-top: 20px;
    margin-bottom : 50px;
    font-weight: bold;

}

.lesson-main {
    display: inline-block;
    margin-top:50px;
    margin-bottom:50px;
}


.lesson-title, .lesson-name{
    margin-top: 10px;
}

.lesson-title {
    font-size: 25px;
}

.category-name {
    font-weight: bold;
    color: 	#FFA500;
}


.col-md-12 {
    background-color:#336600;
    margin-left:0;
    color:white;
}

footer {
    margin-left: 300px;
    padding-top:30px;
    padding-bottom:30px;

}

footer ul {
    display: inline-block;
}

footer .right {
    margin-left: 200px;
}



