<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <div th:each="category : ${categoryList}" th:object="${category}">
        <h2 th:text="*{name}" class="category-name">카테고리이름</h2>
        <div th:each="lesson: ${lessons}" th:if="${lesson.categoryName} == *{name}" class="lesson-main">
            <div>
                <a th:href="@{/lesson/detail/{param1}(param1=${lesson.lessonId})}">
                <img th:src="${lesson.imageName}" alt="첨부이미지" th:if="${lesson.imageName != null}"  width="250" height="200"/></a>
            </div>
            <div th:text="${lesson.title}" class="lesson-title">레슨제목</div>
            <div th:text="${lesson.categoryName} + ' | '+ ${lesson.teacherName}" class="lesson-name"> 레슨카테고리+강사이름</div>
        </div>
    </div>

</section>
</body>
</html>

