<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:replace="${title}">레이아웃 타이틀</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body class="container">
<header>
    <h1><a href="/">진주에서 배울 수 있는 것</a></h1>
    <ul>
        <li><a href="/addLesson"> 레슨 등록하기</a></li>
        <li><a href="/addCategory"> 카테고리 등록하기</a></li>
        <li><a href="/addTeacher"> 강사 등록하기</a></li>
        <li><a href="/addBoard"> 게시판 등록하기</a></li>
        <li><a href="/member/new"> 회원가입</a></li>
        <li sec:authorize="isAnonymous()"><a href="/member/login"> 로그인</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/member/logout"> 로그아웃</a></li>
        <li><a href="/order/orderList?memberId=1">마이페이지/주문내역</a></li>
        <li><a href="/post/main">게시판</a></li>

    </ul>
    <p>__________________________________________________________________________________________________________________________________________________________</p>

</header>

<div th:replace="${content}">
    <p>레이아웃 컨텐츠</p>
</div>
<footer>
    <p>__________________________________________________________________________________________________________________________________________________________</p>
    <h3>진주에서 배울 수 있는 것</h3>
    <ul class="left">
        <li>(주)진주에서 배울 수 있는 것/대표: 김호진</li>
        <li>사업자번호</li>
        <li>대표번호:010-3732-3699</li>
        <li>진주시 신안동</li>
    </ul>
    <ul class="right">
        <li>문의하기</li>
        <li>이용약관</li>
        <li>개인정보처리방침</li>
        <li>로고</li>
    </ul>
</footer>
</body>
</html>