<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addLesson</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<section>
    <form action="/admin/addLesson" method="post" th:object="${lessonCreateDto}" enctype="multipart/form-data" class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h2>레슨을 등록해주세요!!</h2>
            <div>
            이름: <input type="text" th:field="*{title}" th:errorclass="field-error" class="form-control" placeholder="예) 새로운 레슨"> <br>
                <div class="field-error" th:errors="*{title}">이름 오류</div>
            </div>
            <div>
            시작일: <input type="text" th:field="*{startDate}" th:errorclass="field-error" class="form-control" placeholder="예) 2020-06-30"> <br>
                <div class="field-error" th:errors="*{startDate}">시작일 오류</div>
            </div>
            <div>
            종료일: <input type="text" th:field="*{endDate}" th:errorclass="field-error" class="form-control" placeholder="예) 2020-06-30"> <br>
                <div class="field-error" th:errors="*{endDate}">종료일 오류</div>
            </div>
            <div>
            카테고리: <select class="form-select" th:field="*{categoryId}">
                        <option value="">==카테고리==</option>
                        <option  th:each="category : *{categoryList}" th:text="${category.name}" th:value="${category.categoryId}"></option>
                    </select><br>
                    <div class="field-error" th:errors="*{categoryId}">카테고리 오류</div>
            </div>
            <div>
            강사: <select class="form-select" th:field="*{teacherId}">
                    <option value="">==강사==</option>
                    <option  th:each="teacher : *{teacherList}" th:text="${teacher.name}" th:value="${teacher.teacherId}"></option>
                </select><br>
                <div class="field-error" th:errors="*{teacherId}">강사 오류</div>
            </div>
            <div>
            가격 : <input type="text" th:field="*{price}" th:errorclass="field-error" class="form-control"> <br>
                <div class="field-error" th:errors="*{price}">가격 오류</div>
            </div>
            <div>
            내용 : <textarea th:field="*{content}" th:errorclass="field-error" class="form-control"></textarea> <br>
            </div>
            <div class="image">
                <div>이미지1: <input type="file" th:field="*{lessonFiles}" multiple="multiple"></div>
                <div>이미지2: <input type="file" th:field="*{lessonFiles}" multiple="multiple"></div>
                <div>이미지3: <input type="file" th:field="*{lessonFiles}" multiple="multiple"></div>
                <div>이미지4: <input type="file" th:field="*{lessonFiles}" multiple="multiple"></div>
                <div>이미지5: <input type="file" th:field="*{lessonFiles}" multiple="multiple"></div>
                <div class="field-error" th:text="${errorMessage}">파일 오류</div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="button"><button type="submit">등록하기</button></div>
        </div>
        <div class="col-md-5"></div>
    </form>


</section>
</body>
</html>
